<html>

<head>


    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">


</head>

<body>
    <%- include('header');%>

        <main id="main">
            <h1>Codeal /<%=title%>
            </h1>
        </main>
    <%- include('footer');%>

</body>

<script type="text" src="/js/home.js"></script>

</html>