<html>
    <head>


        <title><%= title %></title>
        <link rel="stylesheet" href="/css/layout.css">

    </head>

    <body>
        <headers>Page Header</headers>
        <h1>Codeal /<%=title%></h1>
        <footer>Page Footer</footer>
     </body>

     <script type="text" src="/js/home.js"></script>
</html>