<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">


</head>

<body>

    <%- include('header');%>
        <main>



            <h1>User Signup</h1>

            <form action="/users/create" method="POST">
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="Your Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>

                <input type="submit" value="Sign Up">
            </form>
        </main>

        <%- include('footer');%>

</body>

</html>